body {
  font-family: 'proxima-nova', Helvetica, Arial;
  font-size:1.2em;
  text-rendering: optimizeLegibility;
  background:#fbfbfb;
  color:#2a2a2a;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

a { color:#cc6633; }

ul { margin:0; padding:0 1em 1em; }

.header_center { margin:2em auto 0; width:35%; }

.container,
header,
footer,
section, 
.block { float:left; position:relative; width:100%; }

#github_star { float:left; }

.title {
  float:left; position:relative;
  width:auto;
  border:5px solid #333;
  border-top:0; border-bottom:0;
  padding:.1em .4em .1em .5em;
  letter-spacing:5px;
  font-size:2em;
  margin:1.93em 0 .5em;
}

.subtitle { 
  margin-bottom:1.98em; 
  border:none; padding-top:14px; 
  font-size:1.17em; text-transform:uppercase; 
}

.small { font-size:.9em; }
.right { float:right; }

#footer { background:#FFF; border-top:1px solid #f0f0f0; }
#footer .container { padding-top:14px; }

.margin_btm3x { margin-bottom:30px; }
.margin_top3x { margin-top:30px; }


h3 { 
  font-weight:600;
  text-transform:uppercase; 
  margin:0;
  padding:20px 0 10px;
  border-top:1px solid #e0e0e0;
  orphans:2;
}

h4 { margin:0; padding-bottom:5px; }

p { 
  margin:0; padding-bottom:20px; 
  font-weight:400;
}

.center { text-align:center; }

.position {
  width:100%; margin:0 auto;
}

.container { padding:0 1em; }

.button {
  float:left; position:relative;
  width:100%;
  background:#FF9933;
  color:#FFF;
  padding:1em 2em;
  font-weight:600;
  text-decoration:none;
  text-transform:uppercase;
  font-size:.8em;
  line-height:.8em;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
}

.pre,
pre { 
  font-family:monospace;
  font-size:.8em; 
  margin:0 0 3em ;
}


.pre { font-size:1.2em; color:#444; }
pre { 
  float:left; position:relative; width:100%;
  background:#FFF;
  padding:20px;
  border:1px solid #f0f0f0;
}

.kern { letter-spacing:.2em; }

pre:after { 
  font-family:'proxima-nova', Helvetica, Arial;
  content: "(Base)";
  bottom:0; right:0;
  padding:10px;
  float:right; position:absolute;
  border:1px solid #f0f0f0;
  border-bottom:0; border-right:0;
}

.show_columns .column {
  background:#FFF;
  border:1px solid #f0f0f0;
  padding:10px;
  margin-bottom:10px;
  text-align:center;
}

.show_columns { margin-bottom:50px; }

.letter {
  float:left; position:relative;
  width:15.6%;
  margin-right:5.5%;
  height:100px;
}

.letter:last-child { margin-right:0; }

.letter .block { width:33%; height:100%; background:#2a2a2a; }
.letter .block.half { height:50%; }
.letter .block.quarter { height:14%; }
.letter .block.right { right:0; }
.letter .block.bottom { bottom:0; position:absolute; }

.letters_position { width:40%; }
.letters_position .container { padding:2em 0 1em; }

.hidden { display:none; }

@media screen and (min-width:600px) {
  .position { width:600px; }
  .letters_position { width:240px; }

  pre:after { content:"(Small Tablet)"; }
}

@media screen and (min-width:768px) {
  pre:after { content:"(Large Tablet)"; }
}
@media screen and (min-width:1000px) {
  pre:after { content:"(Desktop)"; }
}
