body {
  font-family: 'proxima-nova', Helvetica, Arial;
  font-size:1.2em;
  text-rendering: optimizeLegibility;
  background:#fbfbfb;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

a { color:#cc6633; }

.header_center { margin:0 auto; width:184px; }

.container,
header,
footer,
section, 
.block { float:left; position:relative; width:100%; }

#github_star { margin-top:18px; }

.title {
  float:left; position:relative;
  width:auto;
  border:5px solid #333;
  padding:.25em .5em;
  letter-spacing:5px;
  font-size:2em;
  margin:2em 0 .5em;
}

.small { font-size:.9em; }
.right { float:right; }

#footer { background:#FFF; border-top:1px solid #f0f0f0; }

.margin_btm3x { margin-bottom:30px; }
.margin_top3x { margin-top:30px; }


h3 { 
  font-weight:600;
  text-transform:uppercase; 
}

.center { text-align:center; }

.position {
  width:100%; margin:0 auto;
}

.container { padding:0 1em; }

.button {
  background:#FF9933;
  color:#FFF;
  padding:1em 2em;
  font-weight:600;
  text-decoration:none;
  text-transform:uppercase;
  font-size:.8em;
  line-height:.8em;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
}

.pre,
pre { 
  font-family:monospace;
  font-size:.8em; 
}

@media screen and (min-width:600px) {
  .position { width:600px; }
}

@media screen and (min-width:768px) {}
@media screen and (min-width:1000px) {}
