/**
 *  @file: pllrs/_base.scss
 */

$gutter: 4%;

.column {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

@mixin _flpr($width:100%) {
  float:left; position:relative;
  width: $width;
}

@mixin pllr($columns:2, $extra:null) {
  width:(100% - $gutter*($columns - 1)) * (1 / $columns) $extra;
  margin-right:$gutter $extra;
  $i:1;
  @while $i < $columns {
    &:nth-of-type(#{$i}n) { margin-right:$gutter $extra; }
    &:nth-of-type(#{$i}n+1) { clear:none $extra;}
    $i: $i + 1;
  }
  &:nth-of-type(#{$columns}n) { margin-right:0 $extra; }
  &:nth-of-type(#{$columns}n+1) { clear:both $extra; }
}

.pllrs9,
.pllrs8,
.pllrs7,
.pllrs6, 
.pllrs5, 
.pllrs4, 
.pllrs3,  
.pllrs2,  
.pllrs {
  @include _flpr();

  &> .column { 
    @include _flpr(); 
  }
}

/**
 *  2 Column
 */
.pllrs2 {

  &.____ {
    &>.column { @include pllr(2); }
  }
}

/**
 * 3 Column
 */
.pllrs3 {

  &.____ { 
    &>.column { @include pllr(3); }
  }

  &[class$="2__"],
  &[class$="2_"],
  &[class$="2"] {
    &>.column { @include pllr(2); }
  }

  &[class$="1__"],
  &[class$="1_"],
  &[class$="1"] {
    &>.column { @include pllr(1); }

  }

}

/**
 * 4 Column
 */
.pllrs4 {

  &.____ {
    &>.column { @include pllr(4); }
  }
  &[class$="3__"],
  &[class$="3_"],
  &[class$="3"] { 
    &>.column { @include pllr(3); }
  }

  &[class$="2__"],
  &[class$="2_"],
  &[class$="2"] {
    &>.column { @include pllr(2); }
  }

  &[class$="1__"],
  &[class$="1_"],
  &[class$="1"] {
    &>.column { @include pllr(1); }
  }

}

/**
 * 5 Column
 */
.pllrs5 {
  &.____ {
    &>.column { @include pllr(5); }
  }

  &[class$="3__"],
  &[class$="3_"],
  &[class$="3"] { 
    &>.column { @include pllr(3); }
  }

  &[class$="2__"],
  &[class$="2_"],
  &[class$="2"] {
    &>.column { @include pllr(2); }
  }
}

/**
 * 6 Column
 */
.pllrs6 {
  &.____ {
    &>.column { @include pllr(6); }
  }

  &[class$="4__"],
  &[class$="4_"],
  &[class$="4"] { 
    &>.column { @include pllr(4); }
  }

  &[class$="3__"],
  &[class$="3_"],
  &[class$="3"] { 
    &>.column { @include pllr(3); }
  }

  &[class$="2__"],
  &[class$="2_"],
  &[class$="2"] {
    &>.column { @include pllr(2); }
  }
}

/**
 * 7 Column
 */

.pllrs7 {
  &.____ {
    &>.column { @include pllr(7); }
  }

  &[class$="4__"],
  &[class$="4_"],
  &[class$="4"] { 
    &>.column { @include pllr(4); }
  }

  &[class$="3__"],
  &[class$="3_"],
  &[class$="3"] { 
    &>.column { @include pllr(3); }
  }

  &[class$="2__"],
  &[class$="2_"],
  &[class$="2"] {
    &>.column { @include pllr(2); }
  }
}

/**
 * 8 Column
 */

.pllrs8 {
  &.____ {
    &>.column { @include pllr(8); }
  }

  &[class$="4__"],
  &[class$="4_"],
  &[class$="4"] { 
    &>.column { @include pllr(4); }
  }

  &[class$="3_"],
  &[class$="3"] { 
    &>.column { @include pllr(3); }
  }

  &[class$="2__"],
  &[class$="2_"],
  &[class$="2"] {
    &>.column { @include pllr(2); }
  }
}
