/**
 *  @file: pllrs/_base.scss
 *  @author: ericlindstrom
 */

.column {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}

@mixin _flpr($width:100%) {
  float:left; position:relative;
  width: $width;
}

@mixin pllr($columns:2, $extra:null) {
  width:(100% - $pllrs_gutter*($columns - 1)) * (1 / $columns) $extra;
  margin-right:$pllrs_gutter $extra;
  $i:1;
  @while $i < $columns {
    &:nth-of-type(#{$i}n) { margin-right:$pllrs_gutter $extra; }
    &:nth-of-type(#{$i}n+1) { clear:none $extra;}
    $i: $i + 1;
  }
  &:nth-of-type(#{$columns}n) { margin-right:0 $extra; }
  &:nth-of-type(#{$columns}n+1) { clear:both $extra; }
}

.pllrs8,
.pllrs7,
.pllrs6, 
.pllrs5, 
.pllrs4, 
.pllrs3,  
.pllrs2,  
.pllrs {
  @include _flpr();

  &> .column { 
    @include _flpr(); 
  }
}

/**
 *  2 Column
 */
.pllrs2 {

  &._222 {
    &> .column { @include pllr(2); }
  }
}

/**
 * 3 Column
 */
.pllrs3 {

  &._333 { 
    &> .column { @include pllr(3); }
  }

  &._222,
  &._322,
  &._332 {
    &> .column { @include pllr(2); }
  }

}

/**
 * 4 Column
 */
.pllrs4 {
  &._444 { 
    &> .column { @include pllr(4); }
  }

  &._333,
  &._433,
  &._443 {
    &> .column { @include pllr(3); }
  }

  &._222,
  &._422,
  &._442,
  &._322,
  &._332 {
    &> .column { @include pllr(2); }

  }

}

/**
 * 5 Column
 */
.pllrs5 {
  &._555 { 
    &> .column { @include pllr(5); }
  }

  &._333,
  &._533,
  &._553 {
    &> .column { @include pllr(3); }
  }

  &._322,
  &._532,
  &._222,
  &._522,
  &._552 {
    &> .column { @include pllr(2); }
  }
}

/**
 * 6 Column
 */
.pllrs6 {
  &._666 { 
    &> .column { @include pllr(6); }
  }

  &._444,
  &._644,
  &._664 {
    &> .column { @include pllr(4); }
  }

  &._333,
  &._633,
  &._663 {
    &> .column { @include pllr(3); }
  }

  &._322,
  &._332,
  &._632,
  &._422,
  &._442,
  &._642,
  &._222,
  &._622,
  &._662 {
    &> .column { @include pllr(2); }
  }
}


/**
 * 7 Column
 */
.pllrs7 {
  &._777 { 
    &> .column { @include pllr(7); }
  }

  &._444,
  &._744,
  &._774 {
    &> .column { @include pllr(4); }
  }

  &._433,
  &._743,
  &._333,
  &._733,
  &._773 {
    &> .column { @include pllr(3); }
  }

  &._322,
  &._732,
  &._222,
  &._722,
  &._772 {
    &> .column { @include pllr(2); }
  }
}

/**
 * 8 Column
 */
.pllrs8 {
  &._888 { 
    &> .column { @include pllr(8); }
  }

  &._644,
  &._444,
  &._844,
  &._884 {
    &> .column { @include pllr(4); }
  }

  &._443,
  &._433,
  &._633 {
    &> .column { @include pllr(3); }
  }

  &._422,
  &._432,
  &._442,
  &._642,
  &._632,
  &._622 {
    &> .column { @include pllr(2); }
  }

}
