/**
 *  @file: pllrs/_base.scss
 */

/** 
 *  2 COLUMN GRID
 *  =============
 *  _column2 ____ [x] (2222)
 *  _column2 _1__ [x] (2111)
 *  _column2 __1_ [x] (2211)
 *  _column2      [x] (2221)
 *  
 *  3 COLUMN GRID
 *  =============
 *  _column3 ____ [x] (3333)
 *  _column3 _1__ [x] (3111)
 *  _column3 __1_ [x] (3311)
 *  _column3      [x] (3331)
 *  
 *  4 COLUMN GRID
 *  =============
 *  _column4 ____ [x] (4444)
 *  _column4 _1__ [x] (4111)
 *  _column4 __1_ [x] (4411)
 *  _column4      [x] (4441)
 *  
 *  5 COLUMN GRID
 *  =============
 *  _column5 ____ [x] (5555)
 *  _column5 _1__ [x] (5111)
 *  _column5 __1_ [x] (5511)
 *  _column5      [x] (5551)
 *  
 *  6 COLUMN GRID
 *  =============
 *  _column6 ____ [x] (6666)
 *  _column6 _1__ [x] (6111)
 *  _column6 __1_ [x] (6611)
 *  _column6      [x] (6661)
 *  
 *  More to Come
 */

$gutter: 4%;

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

@mixin _flpr($width:100%) {
  float:left; position:relative;
  width: $width;
}

._col6, ._column6, 
._col5, ._column5, 
._col4, ._column4, 
._col3, ._column3,  
._col2, ._column2,  
._col, ._column {
  @include _flpr();

  &> .column, &> .col { 
    @include _flpr(); 
    //margin-right:$gutter;
  }
}

/**
 *  2 Column
 */

._col2, ._column2 {

  //&._222, &._2__, 
  &.____ {
    &>.column, &>.col {
      width:(100% - $gutter) *(1/2);
      margin-right:$gutter;
      &:nth-child(2n) { clear:both; }
      &:nth-child(2n+1) { margin-right:0; }
    }
  }
}

/**
 * 3 Column
 */
._col3, ._column3 {
  //&._333, &._3__,
  &.____ { 
    &>.column, &>.col {
      width:(100% - $gutter*2) *(1/3);
      margin-right:$gutter;
      &:nth-child(3n+1) { margin-right:0; }
      &:nth-child(3n+2) { clear:both; }
    }
  }
}

/**
 * 4 Column
 */
._col4, ._column4 {
  //&._444, &._4__
  &.____ { 
    &>.column, &>.col {
      width:(100% - $gutter*3) *(1/4);
      margin-right:$gutter;
      &:nth-child(4n+1) { margin-right:0; }
      &:nth-child(4n+2) { clear:both; }
    }
  }

  &.___2, &.__2_, &._2__ {}
}

/**
 * 5 Column
 */
._col5, ._column5 {
  //&._555, &._5__
  &.____ { 
    &>.column, &>.col {
      width:(100% - $gutter*4) *(1/5);
      margin-right:$gutter;
      &:nth-child(5n+1) { margin-right:0; }
      &:nth-child(5n+2) { clear:both; }
    }
  }
}

/**
 * 6 Column
 */
._col6, ._column6 {
  //&._666, &._6__
  &.____ { 
    &>.column, &>.col {
      width:(100% - $gutter*5) *(1/6);
      margin-right:$gutter;
      &:nth-child(6n+1) { margin-right:0; }
      &:nth-child(6n+2) { clear:both; }
    }
  }
}
