/**
 *  @file: pllrs/_tablet.scss
 */

/**
 * 2 Column
 */
._col2, ._column2 {

  &._1__, &.__1_ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }


  // default ___1
  &> .column, &> .col {
    @include pllr(2);
  }
} // end of 2 column grid


/**
 * 3 Column
 */
._col3, ._column3 {
  &>.column, &>.col { @include pllr(3); }

  &.__1_, &._1__ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }

  &.___2 {
    &> .column, &> .col {
      &:nth-of-type(2n) { margin-right:$gutter; }
      &:nth-of-type(2n+1) { clear:none;}
      @include pllr(3);
    }
  }



}

/**
 * 4 Column
 */
._col4, ._column4 {
  &.__1_, &._1__ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }

  &> .column, &> .col { @include pllr(4); }
}

/**
 * 5 Column
 */
._col5, ._column5 {
  &.__1_, &._1__ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }

  &> .column, &> .col { @include pllr(5); }
}

/**
 * 6 Column
 */
._col6, ._column6 {
  &.__1_, &._1__ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }

  &> .column, &> .col { @include pllr(6); }
}

/**
 * 7 Column
 */
._col7, ._column7 {
  &.__1_, &._1__ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }

  &> .column, &> .col { @include pllr(7); }
}

/**
 * 8 Column
 */
._col8, ._column8 {
  &.__1_, &._1__ {
    &> .column, &> .col {
      width: 100%;
      margin-right:0;
    }
  }

  &> .column, &> .col { @include pllr(8); }
}
